{% extends 'base.html.twig' %}

        {% block title %}CRE | Home{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% endblock %}

        {% block main %}

        <header>
            <div class="container-fluid">
                <div class="header-image" id="parallax">
                    <nav class="stroke">
                        <div class="logo">
                            <img src="{{ asset('img/colour-logo.svg') }}">
                            <h4 id="logo-text">CREATURE</h4>
                        </div> <!-- Logo Container -->
                        <ul class="nav-links">
                            <li>
                                <i class="fas fa-home"></i>
                                <a href="{{ path('home_view') }}">Home</a>
                            </li>
                            <li>
                                <i class="fa fa-camera" aria-hidden="true"></i>
                                <a href="{{ path('photo_gallery_view') }}">Photo Gallery</a>
                            </li>
                            <li>
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <a href="{{ path('blogs_view') }}">Blog</a>
                            </li>
                            <li>
                                <i class="fas fa-question-circle"></i>
                                <a href="{{ path('about_view') }}">About Us</a>
                            </li>
                        </ul> <!-- Nav Links List -->
                        <div class="divider"></div>
                        <div class="profile-container">
                            <h4 id="user-name">Greg Stander</h4>
                            <div class="profile-img">
                                <img src="{{ asset('img/default-avatar-profile-icon-grey-photo-placeholder-vector-17317730.jpg') }}">
                            </div> <!-- Profile Image Container -->
                        </div> <!-- Profile Container -->
                        <div class="burger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </nav> <!-- End of Navigation -->

                    <div class="social-media-icons-header d-none d-xl-block">

                        <a href="https://www.instagram.com/"><img src="{{ asset('img/instagram.svg') }}"></a>
                        <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.svg') }}"></a>
                        <a href="https://twitter.com/"><img src="{{ asset('img/twitter.svg') }}"></a>
        
                    </div> <!-- Social Media Icons Div-->
                    <div class="header-content col-xl-6 col-10">
                        <div class="welcome-blog-text col-xl-6">
                            <h4 id="welcome-text">Welcome to</h4>
                            <div class="underline col-xl-5 col-8 col-sm-5"></div>
                        </div> <!-- Welcome Blog Container -->
                        <div class="creature-blog-heading">
                            <h1 id="creature-heading">Creature</h1>
                        </div> <!-- Creature Blog Heading Container -->
                        <div class="intro-paragraph-header col-xl-8">
                            <p id="intro-paragraph">
                                Creature is a blogging website, where all wildlife enthusiasts can view blogs
                                and make their own blogs, about the wildlife! 
                            </p>
                        </div> <!-- Intro Paragraph Header -->
                        <button class="write-blog-btn">Search blog</button>
                    </div> <!-- Header Content -->
                    <div class="scroll-down-icon bounce">
                        <a href="#content"><img src="{{ asset('img/down-icon.svg') }}"></a>
                    </div> <!-- Scroll down icon -->
                    <div class="colour-overlay"></div>
                </div> <!-- Header Image Container -->
            </div> <!-- Container Fluid Header -->
        </header> <!-- End of Header -->

            <div class="container col-md-10 content" id="content"><!-- Content Section -->
                
                <div class="authors-section col-xl-12">
                    <h4 id="story-text">Meet the Creature Creators</h4>
                    <div class="col-xl-12 line"></div>

                    <div class="row">

                    <div class="card author-cards" style="width: 20rem;">
                        <img class="card-img-top" 
                        src="{{ asset('img/pfano.jpg') }}">
                            <div class="card-body">
                                <h4 class="card-title">Pfano Khampha</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('creators_profile_view') }}"><button class="read-more-btn">View More</button></a>
                            </div>
                    </div>

                    <div class="card author-cards" style="width: 20rem;">
                        <img class="card-img-top" 
                        src="{{ asset('img/dylanvanhout.jpg') }}">
                            <div class="card-body">
                                <h4 class="card-title">Dylan Vanhout</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('creators_profile_view') }}"><button class="read-more-btn">View More</button></a>
                            </div>
                    </div>
                    
                    <div class="card author-cards" style="width: 20rem;">
                        <img class="card-img-top" 
                        src="{{ asset('img/dylandasilva.jpg') }}">
                            <div class="card-body">
                                <h4 class="card-title">Dylan da Silva</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('creators_profile_view') }}"><button class="read-more-btn">View More</button></a>
                            </div>
                    </div>
                </div>
                {# </div> <!-- Authors Section --> #}

                <!-- Footer Start -->
                <footer>

                    <div class="footer col-xl-12">
                        <div class="row">
                            <div class="logo-footer"></div>
                            <div class="social-media-icons-footer d-none d-xl-block">
                                <a href="https://www.instagram.com/"><img src="{{ asset('img/instagram.svg') }}"></a>
                                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.svg') }}"></a>
                                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.svg') }}"></a>
                            </div> <!-- Social Media Icons Div-->
                            <div class="footer-links">
                                <ul class="footer-links-ul">
                                    <li>
                                        <a href="{{ path('home_view') }}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('photo_gallery_view') }}">Photo Gallery</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blogs_view') }}">Blog</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('about_view') }}">About Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- Footer Row -->
                    </div> <!-- Footer Div -->
                    
                </footer>
                <!-- Footer End -->

            </div><!-- Content Section -->

        {% endblock main %}

        {% block javascripts %}
            <script src="{{ asset('js/home.js') }}"></script>
        {% endblock javascripts %}
